.babi {
	float: right;
	background-color: red;
}
.align-center{
	margin: auto;
	text-align: center;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.my-dataview-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.my-dataview-item img {
    float: left;
    margin-right: 1em;
}
.my-dataview-item h2 {
    font-weight: bold;
}

.my-dataview-item .x-name {
	margin-right: 10px;
}